* {
  font-family: "Roboto", sans-serif;
  /* applying the font */
  box-sizing: content-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: content-box;
  /* Firefox, others  */
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, others */
}
* h1 {
  font-size: 150%;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
body .header {
  display: flex;
  min-height: 60px;
  padding: 4% 0 0 0;
  position: relative;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
}
body .header__cont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
body .header__cont__icon {
  font-size: 120%;
  position: absolute;
  top: 40%;
  left: 25px;
  color: black;
}
body .header__cont__img {
  width: 45%;
}
body .footer {
  background-color: #404040;
  color: white;
  padding-bottom: 7%;
}
body .footer__title {
  font-family: "Shrikhand", cursive;
  margin-left: 6%;
}
body .footer__menu {
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: left;
  list-style-type: none;
  margin: 0 0 0 6%;
  padding: 0;
}
body .footer__menu__item {
  display: flex;
  margin-bottom: 2%;
  align-items: center;
}
body .footer__menu__item .fa-utensils {
  margin-right: 3%;
  font-size: 60%;
}
body .footer__menu__item .fa-hands-helping {
  margin-right: 2%;
  font-size: 50%;
}
body .footer__menu a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

@keyframes appearingMenu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes checkDish {
  0% {
    transform: translateX(55px);
  }
  100% {
    transform: translateX(0);
  }
}
.buttonGradient {
  color: white;
  border-radius: 27px;
  border: none;
  font-size: 100%;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
.buttonGradient:hover {
  opacity: 0.95;
  -webkit-box-shadow: 0px 14px 15px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 14px 15px -2px rgba(0, 0, 0, 0.37);
}

.likeIcon {
  font-size: 150%;
  color: black;
  text-decoration: none;
  font-weight: 300;
  z-index: -1;
}
.likeIcon:active {
  background: #ff79da;
  background: linear-gradient(0deg, #ff79da 0%, #9356dc 100%);
}

.location {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
}
.location__cont {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.location p {
  font-weight: 500;
}
.location .fa-map-marker-alt {
  font-size: 120%;
  position: absolute;
  top: 30%;
  left: 0;
}

.info {
  display: flex;
  height: 230px;
  background-color: #F2F2F2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10% 0 0 0;
}
.info h1 {
  width: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.info p {
  width: 90%;
  text-align: center;
  font-weight: 300;
}
.info__exploreButton {
  width: 200px;
  height: 50px;
  margin-top: 4%;
}

.functioning {
  display: flex;
  height: 330px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15% 0 20% 0;
}
.functioning :nth-child(4) {
  background-color: #f2eafb;
}
.functioning :nth-child(4) i {
  color: #9356DC;
}
.functioning > h1 {
  display: flex;
  width: 93%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.functioning__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 320px;
  height: 70px;
  border-radius: 20px;
  margin: 0 5% 0 0;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
.functioning__tab__numerotation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 11px;
  left: -10px;
  font-size: small;
}
.functioning__tab i {
  position: absolute;
  top: 28px;
  left: 35px;
}
.functioning__tab__text {
  font-weight: 500;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  padding: 12% 0 12% 0;
}
.restaurants h1 {
  width: 90%;
  text-align: left;
}
.restaurants__thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  height: 250px;
  flex-wrap: wrap;
  max-height: 280px;
  margin: 0 0 5% 0;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  position: relative;
  color: black;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
.restaurants__thumbnail__img {
  display: flex;
  max-height: 175px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.restaurants__thumbnail__img img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants__thumbnail__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 80%;
  white-space: nowrap;
  flex-wrap: wrap;
  margin: 2% 0 0 3%;
}
.restaurants__thumbnail__textWrapper h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 110%;
}
.restaurants__thumbnail__textWrapper p {
  margin: 1% 0 0 0;
  padding: 0;
  font-weight: 300;
}
.restaurants__thumbnail .fa-heart {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
.restaurants__thumbnail__new {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #278870;
  width: 70px;
  height: 25px;
  font-weight: 500;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 10px;
}

.coverPicture {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  border-radius: 27px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -15% 0 0 0;
  padding: 3% 0 5% 0;
  background-color: #F2F2F2;
}
.menu__title {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
.menu__title__text {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 170%;
}
.menu__title .fa-heart {
  margin: 0 5% 0 0;
}
.menu__dishesChoice {
  height: 350px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 5% 0;
}
.menu__dishesChoice .dish1 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(1 * 300ms);
}
.menu__dishesChoice .dish2 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(2 * 300ms);
}
.menu__dishesChoice .dish3 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(3 * 300ms);
}
.menu__dishesChoice h2 {
  display: flex;
  text-align: left;
  font-weight: 300;
  font-size: 110%;
  width: 45px;
  border-bottom: solid #99E2D0;
  margin: 0 0 0 1.5%;
  padding: 0 0 1.5% 0;
}
.menu__dishesChoice__dish {
  height: 65px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  padding: 0;
  border-radius: 15px 15px 15px 15px;
  border: none;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
.menu__dishesChoice__dish__descriptiveText {
  display: flex;
  height: auto;
  flex-direction: column;
  text-align: left;
  margin: 0 0 0 3%;
  padding-top: 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishesChoice__dish__descriptiveText h3 {
  height: 30%;
  align-items: center;
  margin: 0 0 2% 0;
  padding: 0;
  font-weight: bold;
  font-size: 130%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishesChoice__dish__descriptiveText > p {
  height: 30%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishesChoice__dish:focus > .menu__dishesChoice__dish__priceWrapper {
  animation: checkDish 1s;
  animation-fill-mode: both;
}
.menu__dishesChoice__dish__priceWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
  transform: translateX(55px);
}
.menu__dishesChoice__dish__priceWrapper i {
  display: flex;
  width: 50px;
  font-size: 150%;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
}
.menu__dishesChoice__dish__priceWrapper > p {
  display: flex;
  height: auto;
  width: 50px;
  margin: 0;
  padding: 0 0 10% 0;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
}
.menu .orderButton {
  font-weight: bold;
  font-size: 110%;
  width: 190px;
  height: 40px;
  margin: 5% 0 8% 0;
}

/*# sourceMappingURL=style.css.map */
