/*main colors*/
/*grey backgrounds*/
/*Shadowing for small elements and button gradient, including hover transition*/
* {
  /* Robot font applied to everything and box-sizing*/
  font-family: "Roboto", sans-serif;
  /* applying the font */
  box-sizing: content-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: content-box;
  /* Firefox, others  */
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, others */
}

body {
  /*body formatting*/
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  /*____________________________________________________________*/
  /*same header on all pages minus the return arrow in "accueil"*/
  /*________________________*/
  /*same footer on all pages*/
}
body input[type=checkbox] {
  /*Removing checkbox from input */
  display: none;
}
body .header {
  display: flex;
  min-height: 60px;
  padding: 4% 0 0 0;
  position: relative;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
}
body .header__cont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
}
body .header__cont__icon {
  font-size: 120%;
  position: absolute;
  top: 40%;
  left: 25px;
  color: black;
}
body .header__cont__img {
  width: 45%;
  max-height: 80px;
}
body .footer {
  background-color: #404040;
  color: white;
  padding-bottom: 30px;
}
body .footer__title {
  font-family: "Shrikhand", cursive;
  margin-left: 6%;
}
@media (min-width: 700px) {
  body .footer__title {
    text-align: center;
    margin-left: 0;
  }
}
body .footer__menu {
  display: flex;
  flex-direction: column;
  height: 130px;
  list-style-type: none;
  margin: 0 0 0 6%;
  padding: 0;
}
@media (min-width: 700px) {
  body .footer__menu {
    align-items: center;
    margin: 0;
    width: 100%;
  }
}
body .footer__menu__item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
@media (min-width: 700px) {
  body .footer__menu__item {
    width: 100%;
    justify-content: center;
  }
}
body .footer__menu__item .fa-utensils {
  margin-right: 9px;
  font-size: 60%;
}
body .footer__menu__item .fa-hands-helping {
  margin-right: 7px;
  font-size: 50%;
}
body .footer__menu a {
  font-weight: normal;
  text-decoration: none;
  color: white;
}

/*In "menu", this animation makes dishes tabs appears on load*/
@keyframes appearingMenu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*loop for dish[1,2,3] in each container dishesChoice (see "resto") to appear with differents delays*/
.dish1 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(1 * 300ms);
}

.dish2 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(2 * 300ms);
}

.dish3 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(3 * 300ms);
}

.dish4 {
  animation: appearingMenu 1s;
  animation-fill-mode: both;
  animation-delay: calc(4 * 300ms);
}

/*rotate the checkIcon (see resto) as soon as visible*/
@keyframes checkIconSpin {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*colored wheel spining animation on "accueil" load*/
@keyframes spinningMachineSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*counter rotate the inside spining wheel to keep the logo stable*/
@keyframes spinningMachineSpinnerReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*remove the loader from visibility and order it down below the page*/
@keyframes spinnerFading {
  0% {
    z-index: 1000;
    opacity: 0.9;
  }
  95% {
    z-index: 1000;
    opacity: 0.9;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}
/* colored main button "explorer nos restaurants" and "commander"*/
.buttonGradient {
  color: white;
  border-radius: 27px;
  border: none;
  font-size: 100%;
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  transition: box-shadow 200ms ease-in-out, opacity 200ms ease-in-out;
}
.buttonGradient:hover {
  opacity: 0.95;
  -webkit-box-shadow: 0px 14px 15px -2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 14px 15px -2px rgba(0, 0, 0, 0.37);
}

/* white veil and spinner for page loading "accueil"*/
#pageWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 1000;
  animation: spinnerFading ease-in 3s;
  animation-fill-mode: forwards;
}
#pageWrapper .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
  width: 300px;
  height: 300px;
  background: #ff79da;
  background: linear-gradient(194deg, #ff79da 0%, #9356dc 48%, #99e2d0 100%);
  font-size: 150%;
  border-radius: 50%;
  transform: rotate(0);
  animation: spinningMachineSpinner 1s linear infinite;
}
#pageWrapper .spinner::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: auto;
  right: auto;
  margin: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  opacity: 1;
  background-color: white;
  content: "ohmyfood";
  font-family: "Shrikhand", cursive;
  font-size: 180%;
  opacity: 1;
  animation: spinningMachineSpinnerReverse 1s linear infinite;
}

/* like icon in thumbnails and top of menu in "accueil" and "resto"*/
/* the like animation is rendered via two icons on top of each others, on click they switch opacity*/
.likeIconCheckBox + .likeIconCheckBox__label .likeIconEmpty {
  z-index: 0;
  color: white;
  font-size: 145%;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  opacity: 1;
  transition: opacity 1s ease-in;
}
.likeIconCheckBox + .likeIconCheckBox__label .likeIconFull {
  z-index: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  transform: scale(0);
  font-size: 145%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 1s ease-in;
  transform-origin: bottom;
}
.likeIconCheckBox:checked + .likeIconCheckBox__label .likeIconFull {
  transform: scale(1.1);
}
.likeIconCheckBox:checked + .likeIconCheckBox__label .likeIconEmpty {
  opacity: 0;
}

/* location tab under the header not active yet, only aesthetic implemented*/
.location {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  justify-content: center;
  align-items: center;
}
.location__cont {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.location p {
  font-weight: 500;
}
.location .fa-map-marker-alt {
  font-size: 120%;
  position: absolute;
  top: 30%;
  left: 15px;
}

/*__________________________________________________________*/
/* Section of lines of information regarding the application offer and explore restaurant option */
.info {
  display: flex;
  height: 230px;
  background-color: #F2F2F2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 0 0 0;
}
.info h1 {
  width: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.info p {
  width: 90%;
  text-align: center;
  font-weight: 300;
}
.info__exploreButton {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

/*__________________________________________________________*/
/* Informative section regarding the overall way of using the application */
.functioning {
  display: flex;
  flex-direction: column;
  height: 330px;
  max-height: 330px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0 75px 0;
  /*height switch at 700px*/
}
@media (min-width: 700px) {
  .functioning {
    height: 200px;
  }
}
.functioning h1 {
  width: 320px;
  text-align: left;
  margin: 0;
  padding: 0;
  /*Alignement switch at 700px */
}
@media (min-width: 700px) {
  .functioning h1 {
    text-align: center;
  }
}
.functioning__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 520px;
  /*Formating switch at 700px*/
  /*Third tab changes for icon and background color*/
}
@media (min-width: 700px) {
  .functioning__cont {
    height: 200px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.functioning__cont > :nth-child(3) {
  background-color: #f2eafb;
}
.functioning__cont > :nth-child(3) i {
  color: #9356DC;
}
.functioning__cont__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 70px;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
@media (min-width: 700px) {
  .functioning__cont__tab {
    margin: 0 2% 0 2%;
  }
}
.functioning__cont__tab__numerotation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 11px;
  left: -10px;
  font-size: small;
}
.functioning__cont__tab i {
  position: absolute;
  top: 28px;
  left: 35px;
}
.functioning__cont__tab__text {
  font-weight: 500;
}

/*__________________________________________________________*/
/* Restaurants section featuring the thumbnails of each restaurant choice */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  padding: 40px 0 40px 0;
  /* container for tumbnails, to help with formatting*/
}
.restaurants h1 {
  width: 340px;
  text-align: left;
}
@media (min-width: 700px) {
  .restaurants h1 {
    text-align: center;
    width: 100%;
  }
}
.restaurants__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 520px;
  overflow: hidden;
  /*Formatting switch to keep the thumnail section responsive to all formats */
}
@media (min-width: 740px) {
  .restaurants__cont {
    flex-direction: row;
    flex-wrap: wrap;
    width: 740px;
    justify-content: space-evenly;
  }
}
@media (min-width: 1150px) {
  .restaurants__cont {
    width: 800px;
  }
}
@media (min-width: 1620px) {
  .restaurants__cont {
    width: 100%;
  }
}
.restaurants__cont__thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 340px;
  height: 250px;
  flex-wrap: wrap;
  max-height: 280px;
  margin: 0 0 15px 0;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
  position: relative;
  color: black;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
}
@media (min-width: 700px) {
  .restaurants__cont__thumbnail {
    margin: 0 2% 15px 2%;
  }
}
.restaurants__cont__thumbnail__img {
  display: flex;
  max-height: 175px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.restaurants__cont__thumbnail__img img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.restaurants__cont__thumbnail__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 80%;
  white-space: nowrap;
  flex-wrap: wrap;
  margin: 2% 0 0 3%;
}
.restaurants__cont__thumbnail__textWrapper h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 110%;
}
.restaurants__cont__thumbnail__textWrapper p {
  margin: 1% 0 0 0;
  padding: 0;
  font-weight: 300;
}
.restaurants__cont__thumbnail .fa-heart {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
.restaurants__cont__thumbnail__new {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #278870;
  width: 70px;
  height: 25px;
  font-weight: 500;
  font-size: 80%;
  position: absolute;
  top: 5px;
  right: 10px;
}

/*Example picture top of the page*/
.coverPicture {
  display: flex;
  width: 100%;
  height: 20%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.coverPicture img {
  width: 100%;
}

/* menu section featuring each part of the meal*/
.menu {
  display: flex;
  border-radius: 27px 27px 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -15% 0 0 0;
  padding: 3% 0 5% 0;
  background-color: #F2F2F2;
  /*3 boxes dishesChoice to help formatting*/
  /* Wrapper for formatting on different resolution and main button*/
}
@media (min-width: 800px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
  }
}
.menu__title {
  display: flex;
  width: 375px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 800px) {
  .menu__title {
    width: 90%;
    justify-content: center;
  }
}
.menu__title__text {
  font-family: "Shrikhand", cursive;
  font-weight: 300;
  font-size: 170%;
  margin-left: 10px;
}
.menu__title .fa-heart {
  margin: 0 5% 0 0;
  position: absolute;
  top: 35%;
  right: 5px;
}
.menu__title input[type=checkbox] + .likeIconCheckBox__label .likeIconEmpty {
  color: #F2F2F2;
}
.menu__dishesChoice {
  height: auto;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 50px 0;
  padding: 0 0 0 10px;
  /* on checked status, will transit descriptiveText to 215px min-width and load the icon spinning animation */
}
.menu__dishesChoice h2 {
  display: flex;
  text-align: left;
  font-weight: 300;
  font-size: 110%;
  width: 45px;
  border-bottom: solid #99E2D0;
  margin: 0 0 0 1.5%;
  padding: 0 0 1.5% 0;
}
.menu__dishesChoice__dish:checked + .menu__dishesChoice__dish__label .menu__dishesChoice__dish__label__descriptiveText {
  min-width: 215px;
}
.menu__dishesChoice__dish:checked + .menu__dishesChoice__dish__label .menu__dishesChoice__dish__label__priceWrapper .checkIcon .fa-check-circle {
  animation: checkIconSpin cubic-bezier(0.3, 0.6, 0.55, 0.93) 700ms;
  /* the transition for checked status only affect the descriptiveText which will retract on checked status*/
}
.menu__dishesChoice__dish__label {
  height: 65px;
  max-width: 340px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 0;
  border-radius: 15px 15px 15px 15px;
  border: none;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 14px 15px -7px rgba(0, 0, 0, 0.13);
  /* the priceWrapper is a movable block that get pulled from outside by descriptiveText shrinking on checked status*/
}
.menu__dishesChoice__dish__label__descriptiveText {
  display: flex;
  height: auto;
  flex-direction: column;
  min-width: 270px;
  text-align: left;
  margin: 0 0 0 3%;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: min-width 700ms ease-out;
}
.menu__dishesChoice__dish__label__descriptiveText :first-child {
  display: inline-block;
  height: 30%;
  align-items: center;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 700;
  font-size: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishesChoice__dish__label__descriptiveText :nth-child(2) {
  display: inline-block;
  height: 30%;
  margin: 0;
  padding: 0;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dishesChoice__dish__label__priceWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.menu__dishesChoice__dish__label__priceWrapper :nth-child(1) {
  display: flex;
  height: 100%;
  width: 60px;
  margin: 0;
  padding: 0 0 10% 0;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
}
.menu__dishesChoice__dish__label__priceWrapper .checkIcon {
  display: flex;
  width: 60px;
  height: 65px;
  font-size: 150%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 15px 15px 0;
}
.menu__dishesChoice__dish__label__priceWrapper .checkIcon .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu__buttonWrapper {
  width: 370px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1190px) {
  .menu__buttonWrapper {
    width: 100%;
  }
}
.menu__buttonWrapper__orderButton {
  font-weight: 500;
  width: 180px;
  height: 45px;
  margin: 5% 0 8% 0;
}

/*# sourceMappingURL=style.css.map */
