
    .coverPicture
    {
        padding: 0;
        margin: 0;
    }

    .menu
    {
        display: flex;
        border-radius: 27px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: -15% 0 0 0;
        padding: 3% 0 5% 0;
        background-color: $background-color-light;

        &__title
        {
            display: flex;
            width: 90%;
            align-items: center;
            justify-content: space-between;
            position: relative;

            &__text
            {
                font-family: 'Shrikhand', cursive;
                font-weight: 300;
                font-size: 170%;

            }
            & .fa-heart
            {
                margin: 0 5% 0 0;
                position: absolute;
                top: 35%;
                right: 0;
            }
            & input[type=checkbox] + .likeIconCheckBox__label
            {
                & .likeIconEmpty
                {
                    color: #F2F2F2;
                }             
            }
        }

        &__dishesChoice
        {
            height: 350px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin: 0 0 5% 0;

            & h2
            {
                display: flex;
                text-align: left;
                font-weight: 300;
                font-size: 110%;
                width: 45px;
                border-bottom: solid $color-tertiary;
                margin: 0 0 0 1.5%;
                padding: 0 0 1.5% 0;
            }

            &__dish
            {   
                &:checked
                {
                    & + .menu__dishesChoice__dish__label
                    {

                        & .menu__dishesChoice__dish__label__descriptiveText
                        {
                            min-width: 210px;
                        }

                        & .menu__dishesChoice__dish__label__priceWrapper .checkIcon .fa-check-circle
                        {
                            animation: checkIconSpin 650ms;
                        }
                    }
                }
                &__label
                {
                    height: 65px;
                    max-width: 350px;
                    display: flex;
                    align-items: center;
                    margin-top: 1%;
                    padding: 0;
                    border-radius: 15px 15px 15px 15px;
                    border: none;
                    overflow: hidden;
                    background-color: white;
                    @include mainShadowing;

                    &__descriptiveText
                    {
                        display: flex;
                        height: auto;
                        flex-direction: column;
                        min-width: 270px;
                        text-align: left;
                        margin: 0 0 0 3%;
                        padding-top: 1%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        transition: min-width 500ms ease-in;

                        & h3
                        {
                            height: 30%;
                            align-items: center;
                            margin: 0 0 2% 0;
                            padding: 0;
                            font-weight: 500;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            
                        }
                        & > p
                        {
                            height: 30%;
                            margin: 0;
                            padding: 0;
                            font-weight: 300;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            
                        }
                    }


                    &__priceWrapper
                    {
                        display: flex;
                        justify-content: flex-end;
                        height: 100%;
                        margin: 0;
                        padding: 0;


                        & .checkIcon
                        {
                            display: flex;
                            width: 60px;
                            font-size: 150%;
                            justify-content: center;
                            align-items: center;
                            background-color: $color-tertiary;
                            color: white;
                            border-radius: 0 15px 15px 0;

                        }
                        & > p
                        {
                            display: flex;
                            height: auto;
                            width: 60px;
                            margin: 0;
                            padding: 0 0 10% 0;
                            justify-content: center;
                            align-items: flex-end;
                            font-weight: 700;   
                        }
                    }
                }
            }
        }
        & .orderButton
        {
            font-weight: 500;
            width: 180px;
            height: 45px;
            margin: 5% 0 8% 0;
        }
    }
