.buttonGradient
{
    color: white;
    border-radius: 27px;
    border: none;
    font-size: 100%;
    background: $color-primary;
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    @include mainShadowing;

    &:hover
    {
        opacity: 0.95;
        @include hoverShadowing;
    }
}
.likeIcon
{
    font-size: 150%;
    color: black;
    text-decoration: none;
    font-weight: 300;
    z-index: -1;
    &:active
    {
        background: rgb(255,121,218);
        background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    }
}
