.buttonGradient
{
    color: white;
    border-radius: 27px;
    border: none;
    font-size: 100%;
    background: $color-primary;
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    @include mainShadowing;
    transition: box-shadow 200ms ease-in-out, opacity 200ms ease-in-out;

    &:hover
    {
        opacity: 0.95;
        @include hoverShadowing;
    }
}

.likeIconCheckBox
{
    & + .likeIconCheckBox__label
    {
        & .likeIconEmpty
        {
            z-index: 0;
            color: white;
            font-size: 145%;
            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
            opacity: 1;
            transition: opacity 1s ease-in;
        }

        & .likeIconFull
        {
            z-index: 1;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
            font-size: 145%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }
    }
    &:checked 
    {
        & + .likeIconCheckBox__label .likeIconFull
        {
            opacity: 1;
        }
        & + .likeIconCheckBox__label .likeIconEmpty
        {
            opacity: 0;
        }
    }
}

.menu__dishesChoice__dish:checked
{
    & + .menu__dishesChoice__dish__label
    {

        & .menu__dishesChoice__dish__label__descriptiveText
        {
            min-width: 210px;
        }

        & .menu__dishesChoice__dish__label__priceWrapper .checkIcon .fa-check-circle
        {

            transform: rotate(360deg);
        }
    }
}
