

/*In "menu", this animation makes dishes tabs appears on load*/
@keyframes appearingMenu
{
        0% 
        {
            transform: translateY(10px);
            opacity: 0;
        }
        100%
        {
            transform: translateY(0);
            opacity: 1;
        }
    
}

/*loop for dish[1,2,3] in each container dishesChoice (see "resto") to appear with differents delays*/
@for $i from 1 through 4
{
    .dish#{$i}
    {
        animation: appearingMenu 1s;
        animation-fill-mode: both;
        animation-delay: calc(#{$i} * 300ms);
    }
}

/*rotate the checkIcon (see resto) as soon as visible*/
@keyframes checkIconSpin
{
    0%
    {
        transform: rotate(0deg);
    }
    35%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

/*colored wheel spining animation on "accueil" load*/
@keyframes spinningMachineSpinner
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(1080deg);
    }
}
/*counter rotate the inside spining wheel to keep the logo stable*/
@keyframes spinningMachineSpinnerReverse
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(-1080deg);
    }
}

/*remove the loader from visibility and order it down below the page*/
@keyframes spinnerFading
{
    0%
    {
        z-index: 100;
        opacity: 0.9;
    }
    95%
    {
        z-index: 100;
        opacity: 0.9;
    }
    100%
    {
        z-index: -100;
        opacity: 0;
    }
}