* 
{
	font-family: 'Roboto', sans-serif;	/* applying the font */

	box-sizing: content-box; /* Opera/IE 8+ */
	-moz-box-sizing: content-box; /* Firefox, others  */
    -webkit-box-sizing: content-box; /* Safari/Chrome, others */ 
    & h1
    {
        font-size: $main-title-size;
        font-weight: bold;
    }
}
body
{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    

    & input[type=checkbox]
    {
        display: none;
    }
    & .header
    {
    display: flex;
    min-height: 60px;
    padding: 4% 0 0 0;
    position: relative;
    @include softShadowing;
        &__cont
        {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;


            &__icon
            {
                font-size: 120%;
                position: absolute;
                top: 40%;
                left: 25px;
                color: black;
            }
            &__img
            {
                width: 45%;
            }
        }

    }

    & .footer
    {
    background-color: $background-footer;
    color: white;
    padding-bottom: 7%;
        &__title
        {
            font-family: 'Shrikhand', cursive;
            margin-left: 6%;
        }
        &__menu
        {
            display: flex;
            flex-direction: column;
            height: 130px;
            align-items: left;
            list-style-type: none;
            margin: 0 0 0 6%;
            padding: 0;

            &__item
            {
                display: flex;
                margin-bottom: 2%;
                align-items: center;

                & .fa-utensils
                {
                    margin-right: 3%;
                    font-size: 60%;
                }
                
                & .fa-hands-helping
                {
                    margin-right: 2%;
                    font-size: 50%;
                }
            }

            & a
            {
                font-weight: normal;
                text-decoration: none;
                color: white;
            }
        }
    }
  
}


#pageWrapper
{
    display: flex;
    justify-content: center;


    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1000;
    & .spinner
    {   
        display: flex;
        justify-content: center;
        align-items: center;

        position: -webkit-sticky;
        position: sticky;
        top: 400px;

        width: 300px;
        height: 300px;
        background: rgb(255,121,218);
        background: linear-gradient(194deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 48%, rgba(153,226,208,1) 100%);
        font-family: 'Shrikhand', cursive;
        border-radius: 50%;
        
        &::after
        {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: auto;
            right: auto;
            margin: 0;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            opacity: 1;
            background-color: white;
            content:'ohmyfood';
            font-family: 'Shrikhand', cursive;
            font-size: 180%;
            opacity: 1;
        }  
    }
    
}