* 
{
    /* Robot font applied to everything and box-sizing*/
	font-family: 'Roboto', sans-serif;	/* applying the font */

	box-sizing: content-box; /* Opera/IE 8+ */
	-moz-box-sizing: content-box; /* Firefox, others  */
    -webkit-box-sizing: content-box; /* Safari/Chrome, others */ 
}

body
{
    /*body formatting*/
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    
    & input[type=checkbox]
    {
        /*Removing checkbox from input */
        display: none;
    }
    /*____________________________________________________________*/
    /*same header on all pages minus the return arrow in "accueil"*/
    & .header
    {
    display: flex;
    min-height: 60px;
    padding: 4% 0 0 0;
    position: relative;
    @include softShadowing;
        &__cont
        {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0 0 10px 0;
            &__icon
            {
                font-size: 120%;
                position: absolute;
                top: 40%;
                left: 25px;
                color: black;
            }
            &__img
            {
                width: 45%;
                max-height: 80px;
            }
        }
    }
    /*________________________*/
    /*same footer on all pages*/
    & .footer
    {
    background-color: $background-footer;
    color: white;
    padding-bottom: 30px;
        &__title
        {
            font-family: 'Shrikhand', cursive;
            margin-left: 6%;
            @media (min-width: 700px)
            {
                text-align: center;
                margin-left: 0;
            }
        }
        &__menu
        {
            display: flex;
            flex-direction: column;
            height: 130px;
            list-style-type: none;
            margin: 0 0 0 6%;
            padding: 0;

            @media (min-width: 700px)
            {
                align-items: center;
                margin: 0;
                width: 100%;
            }
            &__item
            {
                display: flex;
                margin-bottom: 10px;
                align-items: center;
                @media (min-width: 700px)
            {
                width: 100%;
                justify-content: center;
            }

                & .fa-utensils
                {
                    margin-right: 9px;
                    font-size: 60%;
                }
                
                & .fa-hands-helping
                {
                    margin-right: 7px;
                    font-size: 50%;
                }
            }

            & a
            {
                font-weight: normal;
                text-decoration: none;
                color: white;
            }
        }
    } 
}

